<div class="col-md-8 col-md-offset-2">
    
    <select style="float:right;" id="sort" (change)="sort($event.target.value)">
        <option value="6">Date Added</option>
        <option value="0">Name: ascending</option>
        <option value="1">Name: descending</option>
        <option value="2">Size: smallest to largest</option>
        <option value="3">Size: largest to smallest</option>
        <option value="4">Amount: most to least</option>
        <option value="5">Amount: least to most</option>
    </select>
    <label style="float:right;" for="sort">Sort by&nbsp;</label>
    <table class="table table-striped">
  <thead>
    <tr>
      <th>Flavor</th>
      <th>Size</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let detail of allDetails">
      <th scope="row">{{detail.flavor}}</th>
      <td>{{detail.size}}</td>
      <td>{{detail.amount}}</td>
    </tr>
  </tbody>
</table>
</div>