<div class="col-md-8 col-md-offset-2">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="flavor">Flavor</label>
            <select [ngModel]="selectedDetail.flavor"
                    (change)="onSelect($event.target.value)"
                    id="flavor"
                    formControlName="flavor"
                    class="form-control">
                <option *ngFor="let flavor of flavors" [value]="flavor.name">{{flavor.name}}</option>
            </select>
        </div>

        <br/>

       <div class="form-group">
            <label for="size">Size</label>
            <select
                    (change)="setDetails($event.target.value)"
                    id="size"
                    formControlName="size"
                    class="form-control">
                <option *ngFor="let detail of details" [value]="detail.id">{{detail.size}}</option>
            </select>
        </div>
        <br/>
        <div class="form-group">
            <label for="amount">amount to remove from total of {{selectedDetail.amount}}</label>
            <input type="text"
                   id="amount"
                   class="form-control"
                   formControlName="amount"
                   #amount
            >
        </div>
        <button class="btn btn-primary"
                type="submit"
                [disabled]="!selectedDetail.size || (amount.value < 1 || amount.value > selectedDetail.amount)">Submit
        </button>
        <br/>
    </form>
</div>