<div class="row">
    <nav class="col-md-8 col-md-offset-2">
        <ul class="nav nav-pills">
            <li routerLinkActive="active"><a [routerLink]="['add']">Add Inventory</a></li>
            <li routerLinkActive="active"><a [routerLink]="['remove']">Remove Inventory</a></li>
            <li routerLinkActive="active"><a [routerLink]="['query']">Search</a></li>
            <li routerLinkActive="active"><a>Report</a></li>
            <li routerLinkActive="active"><a>Trouble Ticket</a></li>
        </ul>
    </nav>
</div>
