
.title{
    display: inline-block;
    color: brown;
    display: inline-block;
    font-size: 64pt;
    font-family: 'Coiny', cursive;
}

image.title-img {
    display: inline-block;
}

/*
font-family: 'Poiret One', cursive;
font-family: 'Coiny', cursive;
*/