
<header class="row">
    <nav class="col-md-8 col-md-offset-2">
        <ul style="float: right;" class="nav nav-pills">
            <li routerLinkActive="active" *ngIf="!loggedIn()">
                <a [routerLink]="['login']">Log-In</a>
            </li>
            <li routerLinkActive="active" *ngIf="!loggedIn()">
                <a [routerLink]="['signup']">Sign-up</a>
            </li>
            <li routerLinkActive="active" *ngIf="loggedIn()">
                <a (click)="onLogout()">Log-out</a>
            </li>
        </ul>
    </nav>
</header>